:root {
  --background: #FAFAFA;
  --primary-color: #ECEFF1;
  --secondary-color: #B0BEC5;
  --accent-color: #D32F2F;   
  --text-color: #212121;
  --base-font-size: 1rem; 
  --sidebar-padding: 0.75rem;

  --dark-background: #242424;
  --dark-primary-color: #333;
  --dark-secondary-color: #444;
  --dark-accent-color: #e57373;
  --dark-text-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: var(--base-font-size);
  color: var(--text-color);
}

body {
  display: flex;
  min-height: 100vh;
  background-color: var(--background);
  overflow-y: auto;
}

body.dark {
  background-color: var(--dark-background);
  color: var(--dark-text-color);
}

/* Code for the sidebar */
#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100vh;
  width: 22vw;
  /* padding: var(--sidebar-padding); */
  background-color: var(--primary-color);
  will-change: width, background-color;
  transition: width 0.5s ease, background-color 0.5s ease;
  z-index: 1000;
}

#sidebar.dark {
  background-color: var(--dark-primary-color);
}

#sidebar-header {
  display: flex;
  justify-content: flex-start;
  padding: 0.325rem var(--sidebar-padding);
  /* padding: var(--sidebar-padding); */
  z-index: 1001;
}

#toggle-sidebar-btn {
  border-radius: 50%;
  transition: transform 0.5s ease, background-color 0.3s;
}

#toggle-sidebar-btn {
  padding: var(--sidebar-padding);
  border: none;
  cursor: pointer;
  background: none;
}

#toggle-sidebar-btn svg {
  fill: #455A64;
}

#toggle-sidebar-btn:hover {
  background-color: var(--primary-color);
}

#sidebar #toggle-sidebar-btn {
  transform: rotate(180deg);
}

#sidebar-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  gap: 1.25rem;
  padding: var(--sidebar-padding);
}

#sidebar h2,
#sidebar form,
#sidebar ul,
#sidebar .search-bar-container {
  padding-left: var(--sidebar-padding);
  opacity: 1;
  pointer-events: auto;
}

#sidebar.collapsed {
  width: 0vw;
  background: none;
}

#sidebar.collapsed h2,
#sidebar.collapsed form,
#sidebar.collapsed ul {
  opacity: 0;
  pointer-events: none;
}

/* Code for the main content */
#main-container {
  flex-grow: 1;
 display: flex;
 flex-direction: column;
 align-items: center;
 overflow-y: auto;
 height: 100vh;
 transition: margin-left 0.5s ease, padding 0.5s ease;
 padding-left: var(--sidebar-padding);
 padding-right: var(--sidebar-padding);
 margin-left: 22vw;
}

#main-container.dark {
  background-color: var(--dark-background);
  color: var(--dark-text-color);
}

#sidebar.collapsed + #main-container {
  margin-left: 0;
}

/* Code for the dark mode toggle */

#darkmode-toggle {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: inherit;
  /* background-color: var(--background); */
  width: 100%;
  padding: var(--sidebar-padding);
  /* padding: var(--sidebar-padding); */
  /* padding: 2.25rem; */
  /* height: 2.5rem; */
}

/* Styling for the label of the toggle switch */
#darkmode-toggle label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 6rem;
  height: 2.5rem;
  background-color: #ebebeb;
  box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.1), inset 0px -1px 10px rgba(255, 255, 255, 0.3);
  border-radius: 1.25rem;
  cursor: pointer;
  overflow: hidden;
  transition: background-color 0.3s;
}

/* Hides the checkbox */
#darkmode-checkbox {
  width: 0;
  height: 0;
  visibility: hidden;
}

/* Styling for the toggle switch circle (label:after) */
#darkmode-toggle label:after {
  content: "";
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: linear-gradient(180deg, #f3ca93, #f7b709);
  border-radius: 1rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transition: left 0.3s;
  z-index: 0;
  top: 50%;
  transform: translateY(-50%);
  left: 0.25rem;
}

/* Changes the background of the switch when the checkbox is checked */
#darkmode-checkbox:checked + label {
  background-color: #242424;
}

/* Moves the circle to the moon icon position when the sun icon is checked */
#darkmode-checkbox:checked + label:after {
  left: calc(100% - 2.25rem);
}

/* Moves the circle to the sun icon position when the moon icon is checked */
#darkmode-checkbox:checked + label:active:after {
  left: calc(100% - 3.25rem);
}

/* Expands the circle when active (clicked) */
#darkmode-toggle label:active:after {
  width: 3rem;
  transition: width 0.3s ease, left 0.3s ease;
}

svg.sun,
svg.moon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}


#darkmode-checkbox:checked + label svg.sun {
  fill: #7e7e7e;
}

#darkmode-checkbox:checked + label svg.moon {
  fill: #fff;
}

svg.sun {
  left: 0.5rem;
  fill: #fff;
}

svg.moon {
  right: 0.5rem;
  fill: #7e7e7e;
}




.todo-container,
.prompt-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  width: 100%;
  max-width: 60rem;
}

#current-list-name {
  width: 100%;
  overflow-wrap: break-word;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
}

#todo-input,
#first-list-input {
  padding: 0.75rem 1.25rem;
  width: 100%;
  background: none;
  border: 0.125rem solid var(--secondary-color);
  border-radius: 10rem;
  font-size: inherit;
  color: var(--text-color);
}

#todo-input:focus,
#first-list-input:focus {
  outline: none;
}

#todo-input-form,
#first-list-form {
  position: relative;
  width: 100%;
}

#add-todo-btn,
#create-first-list-btn {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--accent-color);
  height: 100%;
  padding: 0 1.875em;
  border: none;
  border-radius: 10em;
  font: inherit;
  font-weight: 600;
  color: var(--background);
  cursor: pointer;
}

#sidebar h2 {
  white-space: nowrap;
  text-overflow: ellipsis;
}

#search-bar-form,
#list-form {
  display: flex;
  align-items: center;
  width: 100%;
}

#search-list-input {
  width: 100%;
  border: none;
  outline: none;
  padding: 0.75rem 0.5rem;
  font-size: 1rem;
  background: none;
  color: var(--text-color);
}

#search-list-btn,
#create-list-btn {
  padding: 0.3rem;
  margin-right: 0.25rem;
}

#search-list-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  border-radius: 50%;
}

#search-list-btn:hover {
  background: var(--primary-color);
}

#new-list-input {
  flex-grow: 1;
  border: none;
  outline: none;
  padding: 0.75em 1.25em;
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.2);
  color: var(--text-color);
  min-width: 0;
}

#create-list-btn {
  cursor: pointer;
  background: none;
  border: 0;
  color: inherit;
  font-size: 2em;
  font-weight: 900;
  transition: 250ms ease-in-out;
}

#create-list-btn:hover {
  color: var(--accent-color);
}

#new-list-input,
.search-bar-container #search-bar-form {
  border: 0.125em solid var(--secondary-color);
  border-radius: 0.75rem;
  background-color: rgba(255, 255, 255, 0.9);
  transition: border 0.3s ease-in-out;
}

#new-list-input:focus,
#search-bar-form:focus-within {
  border-color: var(--accent-color);
  background-color: rgba(255, 255, 255, 0.35);
  outline: none;
}

#todo-lists-container {
  list-style: none;
  border-radius: 1rem;
  max-height: 100%;
  overflow-y: auto;
  height: 100%;
  margin-bottom: 0.75rem;
  margin-right: -10px;
  padding-right: 10px;
  box-sizing: content-box;
}

#title {
  margin-top: var(--sidebar-padding);
  margin-bottom: 3rem;
  font-size: 3rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
  color: var(--accent-color);
}

#todo-list {
  flex-grow: 1;
  width: 100%;
  /* max-height: 100%; */
  padding-right: 0.75rem;
  /* max-height: 90vh; */
  /* overflow-y: auto; */
  margin-bottom: 1rem;
}

.todo {
  background-color: var(--primary-color);
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.15);
  margin-bottom: 0.625rem;
}

.todo.dark {
  background-color: var(--dark-primary-color);
}

.todo, .list-item {
  display: flex;
  align-items: center;
  border-radius: 0.9375rem;
  padding: 0 0.75rem;
}

.list-item {
  background-color: var(--background);
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.15);
}

.list-item.dark {
  background-color: var(--dark-background);
}

/* .todo.dark, .list-item.dark {
  background-color: var(--dark-background);
  color: var(--dark-text-color);
} */

.list-item.active {
  border: 2px solid var(--accent-color);
}

.list-item:hover {
  box-shadow: 0 0.25rem 0.375rem rgba(0, 0, 0, 0.2);
}

#todo-lists-container li:not(:last-child) {
  margin-bottom: 0.625rem;
}

/* Code for the custom checkbox */
.custom-checkbox {
  border: 2px solid var(--accent-color);
  border-radius: 50%;
  min-width: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  transition: 200ms ease;
  cursor: pointer;
}

input[type="checkbox"]:checked ~ .custom-checkbox {
  background-color: var(--accent-color);
}

input[type="checkbox"]:checked ~ .custom-checkbox svg {
  fill: var(--primary-color);
}

input[type="checkbox"]:checked ~ .todo-text,
input[type="checkbox"]:checked ~ .todo-list-text {
  text-decoration: line-through;
  color: #616161;
}

input[type="checkbox"] {
  display: none;
}

/* Code for the text input */
.todo-text {
  overflow: hidden;
  overflow-wrap: break-word;
}

.todo-list-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-text,
.todo-list-text {
  padding: 0.875rem 0.4375rem;
  flex-grow: 1;
  transition: 0.5s ease;
  background: none;
  border: none;
}

.todo-text:focus,
.todo-list-text:focus {
  outline: none;
  margin: 0.625rem;
  box-shadow: 0 0 0.5rem var(--secondary-color);
  transition: box-shadow 0.3s ease-in-out;
}

.todo-list-text:focus{
  white-space: normal;
}

/* Code for the buttons */
.edit-btn,
.edit-list-btn,
.delete-btn,
.delete-list-btn {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

.edit-btn,
.edit-list-btn,
.delete-btn,
.delete-list-btn,
.drag-btn {
  fill: #455A64;
  transition: 250ms ease-in-out;
}

.edit-btn:hover, 
.edit-list-btn:hover,
.delete-btn:hover,
.delete-list-btn:hover,
.drag-btn:hover {
  fill: var(--accent-color);
}

.icon-container {
  display: flex;
  justify-content: space-between;
}

svg {
  width: 1.5rem;
  height: 1.5rem;
}

.drag-btn {
  padding: 0;
  background: none;
  border: none;
  cursor: grab;
}
/* 
.drag-btn.dragging {
  cursor: grabbing;
} */

/* SortableJS styles */

.grabbing * {
  cursor: grabbing !important;
}

.sortable-chosen.sortable-ghost {
  opacity: 0;
}

.sortable-ghost,
.sortable-chosen {
  cursor: grabbing;
}

.sortable-fallback {
  opacity: 1 !important;
}

/* Media queries */

@media (min-width: 993px) and (max-width: 1200px) {
  :root {
    --base-font-size: 0.9375rem;
  }

  #sidebar {
    width: 28vw; 
  }
}

@media (max-width: 992px) {
  :root {
    --base-font-size: 0.875rem;
  }

  #sidebar {
    width: 32vw; 
  }
}

@media (max-width: 768px) {
  :root {
    --base-font-size: 0.8125rem; 
  }

  #sidebar {
    width: 40vw;
  }
}

@media (max-width: 600px) {
  :root {
    --base-font-size: 0.75rem;
  }

  #sidebar {
    width: 80vw;
  }

  /* Add a dark overlay when the sidebar is open */
  #main-container.active-overlay::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .6);
    z-index: 9999;
    transition: background-color 0.5s ease;
  }

  #main-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  #sidebar:not(.collapsed) + #main-container {
    position: relative;
  }

  #sidebar + #main-container {
    background-color: rgba(0, 0, 0, .4);
    transition: background-color 0.5s ease;
  }

  #sidebar.collapsed + #main-container {
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 0.5s ease;
  }

  /* Change the position of the add-todo button */
  #add-todo-btn {
    position: static;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    height: auto;
  }
}
